* {
  box-sizing: border-box;

}
p, h2 {
	margin: 0;
}
body {
font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
	margin: 0;
	padding: 0;
}
/*-------------------header section start---------------*/
.section-header{
	height: 230px;
	background: url(../img/Rectangle.jpg) no-repeat center ;
	background-size: cover;
	padding: 40px 71px ;
}
.header-top{
	max-width: 882px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.logo{
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;		
}
.header-logo{
	text-decoration: none;
}
.logo img {
	width: 24px;
	height: 24px;
	margin-right: 12px;
	margin-top: 2px;
}
.logo h1{
	color: #ffffff;
}

.nav-box{
	color: #ffffff;
	background: initial;
	border: none;
	margin: 0 20px;
}
.nav-btn {
	color: #ffffff;
	background: initial;
	border: none;
}

.active-page {
	border-bottom: 3px solid #FF6B08;
}

.form-box{
	display: flex;
	justify-content: center;
}

#search-form {
	margin-top: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 340px;
}

#search-form input{
	padding-bottom: 4px;
	background-color: initial;
	border: none;
	border-bottom: 0.5px solid #FFFFFF;
	color: #ffffff;
	width: 100%;
	outline: none;
}

#search-form input::placeholder{
	color: #ffffff;
}

#search-form input:hover{
border-bottom: 0.5px solid #FF6B08;
}

#search-form button{
	width: 12px;
	height: 12px;
	position: absolute;
	margin-left: 218px;
	margin-top: 2px;
	border: none;
	background-color: initial;
	background-image: url(../img/search2.svg);
}

.search-error{
	display: flex;
	color: #FF001B;
	margin-top: 22px;
	justify-content: center;
	visibility: hidden;
}
/*-------------------header section end---------------*/

/*-------------------gallery section start---------------*/
.gallery{
	max-width: 900px;
	margin: 60px auto;
	display: flex;
	flex-wrap: wrap;
	gap:30px;
	align-items: center;
}

.movie-card {
	height: 440px;
	width: 274px;
}
.movie-card img{
	border-radius: 5px;
	height: 398px;
	width: 274px;
	/*margin-bottom: 10px;*/
}
.title {
	font-size: 12px;
	font-weight: 500;
}
.info-item{
	display: flex;
	color: #FF6B08;
}
/*-------------------gallery section end---------------*/
/*-------------------footer section start---------------*/

.footer-box{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 77px;
	background-color: #F7F7F7;
}
.footer-box a{
color: #212121;
}
.footer-box a:hover {
	color: #FF6B08;
}

.footer-box img{
	margin: 0 5px;
animation: love 1s infinite;
}

@keyframes love {
	from{
		width: 16px;
		height: 14px;
	}
	to{
	width: 14px;
	height: 12px;
	}
}
/*-------------------footer section end---------------*/