.footer-box {

	background-color: var(--footer-color);
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100px;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		margin-top: 10px;
		font-size: 16px;
	}

	img {
		animation: love infinite 1s;

		@keyframes love {
			from {
				width: 16px;
				height: 14px;
			}

			to {
				width: 14px;
				height: 12px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	h1 {
		display: none;
	}
}