.gallery ,.library {
	margin: 40px auto ;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	padding: 0 20px;
	justify-content: center;
	gap:10px;

	@media screen and (min-width: 768px) {
		gap: 0 28px;
		margin: 50px auto;
		max-width: 618px;
	}

	@media screen and (min-width: 1024px) {
		gap: 0 30px;
		margin: 45px auto;
		max-width: 882px;
		justify-content: flex-start;
	}


	img {
		height: 402px;
		width: 280px;
		border-radius: 5px;
		&:hover{
			transform: scale(1.025,1.025);
		}

		@media screen and (min-width: 768px) {
			width: 295px;
			height: 397px;
		}

		@media screen and (min-width: 1024px) {
			width: 274px;
		}
	}

	.movie-card {
		padding-top: 5px;
		width: 280px;

		@media screen and (min-width: 768px) {
			width: 295px;
			height: 470px;
		}

		@media screen and (min-width: 1024px) {
			width: 274px;
			height: 470px;
		}

		&__title {
			margin-top: 8px;
			font-weight: 500;
			text-transform: uppercase;
			color: var(	--primary-text-color);
		}

		&__info-item {
			display: flex;
			justify-content: space-between;
			padding-top: 3px;
			text-transform: none;
			color: var(--accent-color-orange);
		}
}
		.emptyImg {
			margin: 0 auto 20px;
		}
	
		.emptyText {
			font-size: 30px;
		}
}