.gallery ,.library {
	margin: 40px auto ;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 20px;

	@media screen and (min-width: 768px) {
		gap: 0 28px;
		margin: 50px 45px;
		max-width: 618px;
	}

	@media screen and (min-width: 1024px) {
		gap: 0 30px;
		margin: 45px auto;
		max-width: 882px;
	}

	img {
		height: 402px;
		width: 280px;
		border-radius: 5px;

		@media screen and (min-width: 768px) {
			width: 295px;
			height: 397px;
		}

		@media screen and (min-width: 1024px) {
			width: 274px;
		}
	}

	.movie-card {
		width: 280px;

		@media screen and (min-width: 768px) {
			width: 295px;
			height: 470px;
		}

		@media screen and (min-width: 1024px) {
			width: 274px;
			height: 470px;
		}

		&__title {
			margin-top: 8px;
			font-weight: 500;
			text-transform: uppercase;
			color: $primary-text-color;
		}

		&__info-item {
			display: flex;
			justify-content: space-between;
			padding-top: 3px;
			text-transform: none;
			color: $accent-color-orange;
		}
	}
}