	$accent-color-orange: #ff6b08;
	$accent-color-red: #ff001b;
	$title-color: #000000;
	$white-color: #ffffff;
	$primary-text-color: #000000;
	$secondary-text-color: #545454;
	$body-color:#E5E5E5;
	$footer-color:#F7F7F7;
	$logo-svg: #818181;

body, h2, h3, h4, h5, h6{
	font-family:  Roboto;
	font-size: 12px;
	margin: 0;
}
*{

	margin: 0;
	padding: 0;
}
header{
	background-size: cover;
	height: 230px;
	background: url(../img/home_320.jpg)  ;

	@media screen and (min-width:768px){
		background: url(../img/home_768.jpg) ;
		background-size: cover;
	}
	@media screen and (min-width:1024px) {
		background: url(../img/home_1024.jpg) ;
		background-size: cover;
	}
}

.header {
		padding: 46px 21px 43px;
		display: flex;
		justify-content: space-between;
	@media screen and (min-width: 768px) {
		padding: 20px 70px;
	}
		& h1{
			margin-left: 10px;
			font-weight: 500;
			font-size: 30px;
		}
		&__logo-link {
			display: flex;
			align-items: center;
			text-decoration: none;
		img {
			height: 24px;
			width: 24px;
			color: $logo-svg;
		}
		h1 {
			color: $white-color
		}	
	}
	.header__nav{
		display: flex;
		align-items: flex-end;
		
	@media screen and (min-width: 768px) {
		align-items: center;
		margin-top: 0;
	}
	.nav{
		text-decoration: none;	
		color: $white-color;
		margin-left: 40px;
	@media screen and (min-width: 768px) {
			margin-top: 15px;
			margin-right: 2px;
		}
	}
	.header__active-page {
		text-decoration: underline 3px $accent-color-orange solid;
		}
	}
}

.header-library{
	display: block;
		background-size: cover;
		height: 230px;
		background: url(../img/library_320.jpg);
	
		@media screen and (min-width:768px) {
			background: url(../img/library_768.jpg);
			background-size: cover;
		}
	
		@media screen and (min-width:1024px) {
			background: url(../img/library_1024.jpg);
			background-size: cover;
		}
		.nav-op{
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
			& button{
				width: 130px;
				height: 44px;
				background-color: inherit;
				color: $white-color;
				border: 1px $white-color solid;
				border-radius: 5px;
			}
		.active-btn {
			background-color: $accent-color-orange;
		}
		}
		
		.header{
padding-bottom: 50px;
@media screen and (min-width:768px) {
	padding-bottom: 28px;
	}		
}
}
.search {
	width: 280px;
	margin: 0 auto;
	@media screen and (min-width: 768px) {
			width: 395px;
		}
	.search__form{
		display: flex;
		justify-content: center;
		border-bottom: 0.5px $white-color solid;
		&:hover {
				border-bottom: 0.5px $accent-color-orange solid;
			}
		& input{
			background-color: inherit;
			border: none;
			padding-bottom: 3px;
			color:  $white-color;
			width: 280px;
			outline: none;
			@media screen and (min-width: 768px) {
				width: 380px;
				}
		}
		& input::placeholder {
			color: $white-color;
			font-size: 14px;
		}
		button{
			background-color: inherit;
			border: none;
			color: $white-color;
			height: 12px;
			width: 12px;
			background: url(../img/search.png) no-repeat;
	}
}
.search__error {
	margin-top: 22px;
	font-size: 14px;
	height: 32px;
	visibility: hidden;
	color: $accent-color-red;
	}
}
.gallery {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	@media screen and (min-width: 768px) {
			margin: 60px 45px;
		}
		@media screen and (min-width: 1024px) {
			padding: 0 40px;
			margin: 60px auto;
			max-width: 1024px; ;
		}
	img {
		height: 402px;
		width: 280px;
		border-radius: 5px;
			@media screen and (min-width: 768px) {
				width: 295px;
				height: 397px;
				}
			@media screen and (min-width: 1024px) {
				width: 274px;
			}
	}
	.movie-card {
		width: 280px;
			@media screen and (min-width: 768px) {
					width: 295px;
					height: 470px;
				}
			@media screen and (min-width: 1024px) {
						width: 274px;
						height: 470px;
				}
		&__title {
			margin-top: 8px;
			font-weight: 500;
			text-transform: uppercase;
			color: $primary-text-color;
		}
		&__info-item {
			display: flex;
			justify-content: space-between;
			padding-top: 3px;
			text-transform: none;
			color: $accent-color-orange;
		}
	}
}
.pagination{
	display: flex;
	height: 40px;
}

.footer-box {
	background-color: $footer-color;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100px;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		margin-top: 10px;
		font-size: 16px;
	}
	img {
		animation: love infinite 1s;
		@keyframes love {
			from {
				width: 16px;
				height: 14px;
			}
			to {
				width: 14px;
				height: 12px;
			}
		}
	}
}
@media screen and (max-width:767px) {
	h1 {
		display: none;
	}
}
.output-js{
padding: 20px;
}
.backdrop-modal{
	display: none;
	position:fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	//opacity: 0.5;
	overflow-y: scroll;
	z-index: 1;
	
}
.backdrop-container{
	background-color: $white-color;
	z-index: 2;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border:1px #ff6b08 solid; 
	width: 280px;
		overflow: hidden;	
		padding: 48px 0 0 ;
}
.modal-content{
	h2 {
			margin-top: 25px;
			margin-bottom: 22px;
			font-size: 20px;
		}
	&__close-btn {
			position: fixed;
			top: 18px;
			right: 18px;
			background-color: inherit;
			border: none;
		}
	&__img {
		border-radius: 5px;
		width: 240px;
		height: 356px;
	}
	
	&__info-wrap{
		display: flex;
		font-weight: 600;
		.category-list{
			width: 110px;
			opacity: 0.6;
			&__item {
				list-style-type: none;
				color: $secondary-text-color;
				margin-bottom: 10px;
			}
			
		}
				.category-value-list__item {
					display: flex;
					align-items: center;
					gap: 10px;
					list-style-type: none;
					color: $primary-text-color;
					margin-bottom: 10px;
					
					&_bg-color{
						text-align: center;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 5px;
						height: 16px;
						width: 36px;
						color: $white-color;
						background-color: $accent-color-orange;
					}
				}
	}
	&__description{
		margin-top: 15px;
		font-weight: 600;
		line-height: 20px;
	}
	.btn-wrap{	
		display: flex;
		justify-content: center;
		align-items: center;
		gap:15px;
			&__btn{
				margin-top: 15px;
				border: 1px $title-color solid;
				border-radius: 5px;
				text-transform: uppercase;
				height: 45px;
				width: 112px;
				background-color: inherit;
			}
				.active {
					border: none;
					color: $white-color;
					background-color: $accent-color-orange;
				}
	}

}



