body,
h2,
h3,
h4,
h5,
h6,
ul {
	height: 100%;
  font-family: Roboto;
  font-size: 12px;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
header {
  background-size: cover;
  height: 230px;
  background: url(../img/home_320.jpg);

  @media screen and (min-width: 768px) {
    background: url(../img/home_768.jpg);
    background-size: cover;
  }
  @media screen and (min-width: 1024px) {
    background: url(../img/home_1024.jpg);
    background-size: cover;
  }
}

.header {
  padding: 46px 21px 43px;
  display: flex;
	
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    padding: 20px 70px;
  }
  & h1 {
    margin-left: 10px;
    font-weight: 500;
    font-size: 30px;
  }
  &__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      height: 24px;
      width: 24px;
      color: var(--logo-svg);
			position: relative;
			animation: rotateLogo 3s;
			
			@keyframes rotateLogo {
				from{left: -100%;}
					to{left: 0;
						transform: rotate(-540deg)}
			}
    }
    h1 {
      color: var(--white-color);
    }
  }
  .header__nav {
    display: flex;
    align-items: flex-end;
		

    @media screen and (min-width: 768px) {
      align-items: center;
      margin-top: 0;
    }
    .nav {
      text-decoration: none;
      color: var(--white-color);
      margin-left: 40px;
			&:hover {
					color: var(--accent-color-orange);
				}
      @media screen and (min-width: 768px) {
        margin-top: 15px;
        margin-right: 2px;
      }
    }
    .header__active-page {
      text-decoration: underline 3px var(--accent-color-orange) solid;
    }
  }
}

.header-library {
  display: block;
  background-size: cover;
  height: 230px;
  background: url(../img/library_320.jpg);

  @media screen and (min-width: 768px) {
    background: url(../img/library_768.jpg);
    background-size: cover;
  }

  @media screen and (min-width: 1024px) {
    background: url(../img/library_1024.jpg);
    background-size: cover;
  }
  .nav-op {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    & button {
      width: 130px;
      height: 44px;
      background-color: inherit;
      color: var(--white-color);
      border: 1px var(--white-color) solid;
      border-radius: 5px;
    }
    .active-btn {
      background-color: var(--accent-color-orange);
    }
  }

  .header {
    padding-bottom: 50px;
    @media screen and (min-width: 768px) {
      padding-bottom: 28px;
    }
  }
}
.search {
  width: 280px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 395px;
  }
  .search__form {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px var(--white-color) solid;
    &:hover {
      border-bottom: 0.5px var(--accent-color-orange) solid;
    }
    & input {
      background-color: inherit;
      border: none;
      padding-bottom: 3px;
      color: var(--white-color);
      width: 280px;
      outline: none;
      @media screen and (min-width: 768px) {
        width: 380px;
      }
    }
    & input::placeholder {
      color: var(--white-color);
      font-size: 14px;
    }
    button {
      background-color: inherit;
      border: none;
      color: var(--white-color);
      height: 12px;
      width: 12px;
      background: url(../img/search.png) no-repeat;
    }
  }
  .search__error {
    margin-top: 22px;
    font-size: 14px;
    height: 32px;
    visibility: hidden;
    color: var(--accent-color-red);
  }
}



