

.output-js {
	padding: 20px;
}

.backdrop-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.backdrop-container {
	background-color: $white-color;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 1px #ff6b08 solid;
	width: 280px;
	height: 80vh;
	overflow-y: scroll;
	padding: 48px 0 0;
}

.modal-content {
	h2 {
		margin-top: 25px;
		margin-bottom: 22px;
		font-size: 20px;
	}

	&__close-btn {
		position: fixed;
		top: 18px;
		right: 18px;
		background-color: inherit;
		border: none;
	}

	&__img {
		border-radius: 5px;
		width: 240px;
		height: 356px;
	}

	&__info-wrap {
		display: flex;
		font-weight: 600;

		.category-list {
			width: 110px;
			opacity: 0.6;

			&__item {
				list-style-type: none;
				color: $secondary-text-color;
				margin-bottom: 10px;
			}
		}

		.category-value-list__item {
			display: flex;
			align-items: center;
			gap: 10px;
			list-style-type: none;
			color: $primary-text-color;
			margin-bottom: 10px;

			&_bg-color {
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				height: 16px;
				width: 36px;
				color: $white-color;
				background-color: $accent-color-orange;
			}
		}
	}

	&__description {
		margin-top: 15px;
		font-weight: 600;
		line-height: 20px;
	}

	.btn-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;

		&__btn {
			margin-top: 15px;
			border: 1px $title-color solid;
			border-radius: 5px;
			text-transform: uppercase;
			height: 45px;
			width: 112px;
			background-color: inherit;
		}

		.active {
			border: none;
			color: $white-color;
			background-color: $accent-color-orange;
		}
	}
}