#pagination-container{
	margin: 40px 0;
	@media screen and (min-width: 768px)  {
		margin-top: 50px;
		margin-bottom: 60px	;
	}
}

.paginationjs-pages{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	height: 40px;
	width: 280px;
		@media screen and (min-width: 768px) {
			width: 400px;
		}
}

.paginationjs .paginationjs-pages li {
	float: left;
	border: none;
	border-radius: 5px;
	list-style: none
}

.paginationjs .paginationjs-pages li>a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $white-color;
	font-size: 14px;
	color: $primary-text-color;
	text-decoration: none;
}

.paginationjs .paginationjs-pages li.active {
	border: none
}

.paginationjs .paginationjs-pages li.active>a {
	background: $accent-color-orange;
	border-radius: 5px;
	color:	$white-color;
}

.paginationjs .paginationjs-pages li.disabled>a {
	display: none;
}
.paginationjs .paginationjs-pages li:first-child{
	background-color: $footer-color;
}

.paginationjs .paginationjs-pages li:first-child>a {
	background: url(../img/arrow-left.svg) no-repeat center;
	border-radius: 5px;
}

.paginationjs .paginationjs-pages li:last-child{
	background-color: $footer-color;
}
.paginationjs .paginationjs-pages li:last-child>a {
		background: url(../img/arrow-right.svg) no-repeat center;
			border-radius: 5px;
}
.paginationjs-last, .paginationjs-first{
display: none;
@media screen and (min-width: 768px) {
	display: flex;
}
}

